.landingpage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url('../../../assets/img/landingpage-cover.jpg');
    background-size: cover;
    background-position: center;
  background-attachment: fixed;
    .navbar {
        width: 47%;
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .navbar-phone{
        display: none;
    }
    @media (max-width: 900px) {
        flex-direction: column;
        text-align: center;

        .junglebar-info,
        .arrow-down,
        .navbar {
            width: 100%;
        }

        .junglebar-info {
            position: absolute;
            top: 20vh;
            left: 0;
            right: 0;
            width: 100%;
        }

        .navbar {
            display: none;
        }
        .navbar-phone{
            display: block;
            justify-content: flex-end;
        }
    }
}

.junglebar-info {
    color: var(--yellow);
    width: 47%;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jungle-heading {
    border-bottom: 5px solid; 
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1); 
    width: fit-content;
}

.special-offer {
    background: url(../../../assets/svg/banner.svg);
    background-size: cover;
    text-decoration: none;
    font-size: 30px;
    min-width: 350px;
    color: var(--black);
    margin-top: 15px;
    text-align: center;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05);
          cursor: url(../../../assets/svg/cursor-pointer.svg), auto !important;
        transition: 0.3s;
    }
}

.openhours {
    margin-top: 15px;
}

.arrow-down {
    width: 6%;
    margin-top: auto;
    margin-bottom: 3vh;

    img {
        width: 70px;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.15);
              cursor: url(../../../assets/svg/cursor-pointer.svg), auto !important;
            transition: 0.3s;
        }
    }
}
