<div class="landingpage">
    <app-navbar-phone class="navbar-phone"></app-navbar-phone>
    <div class="junglebar-info">
        <h1 class="jungle-heading">Jungle Bar</h1>
        <div class="openhours">
            <h3>mo-fr: 3pm-11pm</h3>
            <h3>wknd: 5pm-2am</h3>
        </div>
        <a class="special-offer">SPECIAL OFFER</a>
    </div>
    <div class="arrow-down">
        <a href="#about-us-section">
            <img src="assets/svg/arrow-down.svg" alt="">
        </a>
    </div>
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>
</div>
<app-arrow-up></app-arrow-up>
<app-about-us></app-about-us>
<app-partners></app-partners>
<app-booking-form></app-booking-form>
<app-footer></app-footer>
