<div class="landingpage">
    <app-navbar-phone class="navbar-phone"></app-navbar-phone>
    <div class="junglebar-info">
        <h1 class="jungle-heading">Jungle Bar</h1>
        <div class="openhours">
            <h3>mo-fr: 3pm-11pm<br>wknd: 5pm-2am</h3>
        </div>
        <a class="special-offer" href="">SPECIAL OFFER</a>
    </div>
    <div class="arrow-down">
        <img src="assets/svg/arrow-down.svg" alt="">
    </div>
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>
</div>