.checkbox {
  display: none;
}

.button {
  position: relative;
  background-color: var(--yellow);
  height: 4rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 20px; 
  right: 30px; 
  z-index: 2000;
  text-align: center; 
    cursor: url(../../../assets/svg/cursor-pointer.svg), auto !important;
}

.background {
  height: 4rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 20px; 
  right: 30px; 
  background: var(--green);
  z-index: 1000;
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
}

nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: -60vw;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 1.1s;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: var(--yellow);
    font-size: 40px;
    transition: 0.4s ease-out;
    &:hover{
      transition: 0.4s ease;
      color: #796000;
        cursor: url(../../../assets/svg/cursor-pointer.svg), auto !important;
      } 
  }
}

.active {
  border-bottom: var(--yellow);
  border-bottom: 5px solid; 
  width: fit-content;
}

.list {
  position: absolute;
  top: 40vh;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

/* functionality */
.checkbox:checked ~ .background {
  transform: scale(80);
}
.checkbox:checked ~ .nav {
  opacity: 1;
  width: 100%;
  right: 0;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon,
.icon::before,
.icon::after {
  width: 3rem;
  height: 6px;
  border-radius: 3px;
  background-color: var(--black);
  display: inline-block;
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.3s;
}

.icon::before {
  top: -0.8rem;
}
.icon::after {
  top: 0.8rem;
}

.checkbox:checked + .button .icon {
  background-color: transparent;
}

.checkbox:checked + .button .icon::before {
  top: 0;
  transform: rotate(135deg);
}
.checkbox:checked + .button .icon::after {
  top: 0;
  transform: rotate(-135deg);
}