<input type="checkbox" id="navi-toggle" class="checkbox" />
<label for="navi-toggle" class="button">
  <span class="icon">&nbsp;</span>
</label>
<div class="background">&nbsp;</div>

<!-- nav -->
<nav class="nav">
  <ul class="list">
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a></li>
    <li><a routerLink="/drinks" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">DRINKS</a></li>
    <li><a routerLink="/book" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">BOOK</a></li>
    <li><a routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">PROFILE</a></li>
    <li><a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">LOGIN</a></li>
  </ul>
</nav>