<input type="checkbox" id="navi-toggle" class="checkbox" />
<label for="navi-toggle" class="button">
  <span class="icon">&nbsp;</span>
</label>
<div class="background">&nbsp;</div>

<!-- nav -->
<nav class="nav">
  <ul class="list">
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a></li>
    <li><a routerLink="/drinks">DRINKS</a></li>
    <li><a routerLink="/book">BOOK</a></li>
    <li><a routerLink="/contact">CONTACT</a></li>
    <li><a routerLink="/profile">PROFILE</a></li>
    <li><a routerLink="/login">LOGIN</a></li>
  </ul>
</nav>