<section class="team-section" id="team">
  <div class="team-cards">
    <h3 class="heading-top" data-aos="fade-right" data-aos-offset="200" data-aos-duration="1000" data-aos-delay="400"><span class="highlight">Meet</span> the monkeys!</h3>

    <div class="cards-top">
    <div class="flip-card"  data-aos="zoom-out" data-aos-offset="200" data-aos-duration="1000" data-aos-delay="100">
      <div class="flip-card-inner">
        <div class="flip-card-front card">
          <img src="../../../assets/img/team/Noah.png" alt="Noah Benz">
          <h3>Noah Benz</h3>
          <p>Founder & Manager</p>
        </div>        
        <div class="flip-card-back">
          <h3>Fun fact</h3>
          <p>Vater vo de Vätere</p>
        </div>
      </div>
    </div>
    <div class="flip-card" data-aos="zoom-out" data-aos-offset="200" data-aos-duration="1000" data-aos-delay="250">
      <div class="flip-card-inner">
        <div class="flip-card-front card">
          <img src="../../../assets/img/team/Jann.png" alt="Jann Fanzun">
          <h3>Jann Fanzun</h3>
          <p>Founder & COO</p>
        </div>
        <div class="flip-card-back">
          <h3>Fun fact</h3>
          <p>chum uf Bern und i brätsche di</p>
        </div>
      </div>
    </div>
    <div class="flip-card" data-aos="zoom-out" data-aos-offset="200" data-aos-duration="1000" data-aos-delay="400">
      <div class="flip-card-inner">
        <div class="flip-card-front card">
          <img src="../../../assets/img/team/Elias.png" alt="Elias Blau">
          <h3>Elias Blau</h3>
          <p>Barkeeper</p>
        </div>
        <div class="flip-card-back">
          <h3>Fun fact</h3>
          <p>follow me on instagram!</p>
        </div>
      </div>
    </div>
    <div class="flip-card" data-aos="zoom-out" data-aos-offset="200" data-aos-duration="1000" data-aos-delay="550">
      <div class="flip-card-inner">
        <div class="flip-card-front card">
          <img src="../../../assets/img/team/Valentin.png" alt="Valentin Morgenthaler">
          <h3>Vale Morgi</h3>
          <p>Barkeeper</p>
        </div>
        <div class="flip-card-back">
          <h3>Fun fact</h3>
          <p>follow me on instagram!</p>
        </div>
      </div>
    </div>
    <div class="flip-card" data-aos="zoom-out" data-aos-offset="200" data-aos-duration="1000" data-aos-delay="700">
      <div class="flip-card-inner">
        <div class="flip-card-front card">
          <img src="../../../assets/img/team/Silvan.png" alt="Silvan Steinauer">
          <h3>Silvan Steini</h3>
          <p>Barkeeper & Cleaner</p>
        </div>
        <div class="flip-card-back">
          <h3>Fun fact</h3>
          <p>bossi</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
