<section class="team-section">
    <h3 class="our-partners"><span>Meet</span> The Monkeys</h3>
    <div class="card-top">
      <div class="card">
        <img src="../../../assets/img/team/Noah.png" alt="Noah Benz">
        <h3>Noah Benz</h3>
        <p>Founder & Manager</p>
      </div>
      <div class="card">
        <img src="../../../assets/img/team/Jann.png" alt="Jann Fanzun">
        <h3>Jann Fanzun</h3>
        <p>Founder & COO</p>
      </div>
      <div class="card">
        <img src="../../../assets/img/team/Elias.png" alt="Elias Blau">
        <h3>Elias Blau</h3>
        <p>Founder & CTO</p>
      </div>
      <div class="card">
        <img src="../../../assets/img/team/Valentin.png" alt="Valentin Morgenthaler">
        <h3>Vale Morgi</h3>
        <p>Barkeeper</p>
      </div>
      <div class="card">
        <img src="../../../assets/img/team/Silvan.png" alt="Silvan Steinauer">
        <h3>Silvan Steini</h3>
        <p>Barkeeper & Cleaner</p>
      </div>
        </div>
  </section>
  