<section class="team-section" id="team">
  <div class="team-cards">
    <h3 class="heading-top" data-aos="fade-right" data-aos-offset="200" data-aos-duration="1000" data-aos-delay="400"><span class="highlight">Meet</span> the monkeys!</h3>

    <div class="cards-top">
    <div class="flip-card"  data-aos="zoom-out" data-aos-offset="200" data-aos-duration="1000" data-aos-delay="100">
      <div class="flip-card-inner">
        <div class="flip-card-front card">
          <img src="../../../assets/img/team/Noah.png" alt="Noah Benz">
          <h3>Noah Benz</h3>
          <p>Founder & Manager</p>
        </div>        
        <div class="flip-card-back">
          <h3>Fun fact</h3>
          <p>Why don't some couples go to the gym? <br>Because some relationships don't work out!

          </p>
        </div>
      </div>
    </div>
    <div class="flip-card" data-aos="zoom-out" data-aos-offset="200" data-aos-duration="1000" data-aos-delay="250">
      <div class="flip-card-inner">
        <div class="flip-card-front card">
          <img src="../../../assets/img/team/Jann.png" alt="Jann Fanzun">
          <h3>Jann Fanzun</h3>
          <p>Founder & COO</p>
        </div>
        <div class="flip-card-back">
          <h3>Fun fact</h3>
          <p>What's a frog's favorite soda? <br> Croak-a-Cola!</p>
        </div>
      </div>
    </div>
    <div class="flip-card" data-aos="zoom-out" data-aos-offset="200" data-aos-duration="1000" data-aos-delay="400">
      <div class="flip-card-inner">
        <div class="flip-card-front card">
          <img src="../../../assets/img/team/beat.jpg" alt="Beat Blau">
          <h3>Beat Hemm</h3>
          <p>Finance Manager</p>
        </div>
        <div class="flip-card-back">
          <h3>Fun fact</h3>
          <p>Why did the scarecrow win an award? <br>Because he was outstanding in his field!
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card" data-aos="zoom-out" data-aos-offset="200" data-aos-duration="1000" data-aos-delay="550">
      <div class="flip-card-inner">
        <div class="flip-card-front card">
          <img src="../../../assets/img/team/ranya.jpg" alt="Ranya Twam ">
          <h3>Ranya Twam</h3>
          <p>Secretary</p>
        </div>
        <div class="flip-card-back">
          <h3>Fun fact</h3>
          <p>What do you call fake spaghetti?<br> An impasta!
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card" data-aos="zoom-out" data-aos-offset="200" data-aos-duration="1000" data-aos-delay="700">
      <div class="flip-card-inner">
        <div class="flip-card-front card">
          <img src="../../../assets/img/team/yael.jpg" alt="Yael Pond">
          <h3>Yael Pond</h3>
          <p>Barkeeper & Cleaner</p>
        </div>
        <div class="flip-card-back">
          <h3>Fun fact</h3>
          <p>Why did the tomato turn red? Because it saw the salad dressing!</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
