 <section class="partner-slide">
    <h3 class="our-partners"><span>Our</span> Partners</h3>
    <div class="logos">
    <div class="logos-slide">
        <img src="../../../assets/logos/cocacola.svg" alt="">
        <img src="../../../assets/logos/starbucks.svg" alt="">
        <img src="../../../assets/logos/martini.png" alt="">
        <img src="../../../assets/logos/silver-spring.png" alt="">
        <img src="../../../assets/logos/arizona.svg" alt="">
        <img src="../../../assets/logos/schweppes.png" alt="">
        <img src="../../../assets/logos/havanna.png" alt="">
    </div>
    <div class="logos-slide">
        <img src="../../../assets/logos/cocacola.svg" alt="">
        <img src="../../../assets/logos/starbucks.svg" alt="">
        <img src="../../../assets/logos/martini.png" alt="">
        <img src="../../../assets/logos/silver-spring.png" alt="">
        <img src="../../../assets/logos/arizona.svg" alt="">
        <img src="../../../assets/logos/schweppes.png" alt="">
        <img src="../../../assets/logos/havanna.png" alt="">
    </div>
    <div class="logos-slide">
        <img src="../../../assets/logos/cocacola.svg" alt="">
        <img src="../../../assets/logos/starbucks.svg" alt="">
        <img src="../../../assets/logos/martini.png" alt="">
        <img src="../../../assets/logos/silver-spring.png" alt="">
        <img src="../../../assets/logos/arizona.svg" alt="">
        <img src="../../../assets/logos/schweppes.png" alt="">
        <img src="../../../assets/logos/havanna.png" alt="">
    </div>
    <div class="logos-slide">
        <img src="../../../assets/logos/cocacola.svg" alt="">
        <img src="../../../assets/logos/starbucks.svg" alt="">
        <img src="../../../assets/logos/martini.png" alt="">
        <img src="../../../assets/logos/silver-spring.png" alt="">
        <img src="../../../assets/logos/arizona.svg" alt="">
        <img src="../../../assets/logos/schweppes.png" alt="">
        <img src="../../../assets/logos/havanna.png" alt="">
    </div>
</div>
 </section>
