 <section class="partner-slide">
        <h3 class="our-partners">Our partners</h3>
<div class="logos">
    <div class="logos-slide">
        <img src="../../../assets/logos/absolut-vodka.png" alt="">
        <img src="../../../assets/logos/smirnoff.png" alt="">
        <img src="../../../assets/logos/martini.png" alt="">
        <img src="../../../assets/logos/redbull.png" alt="">
    </div>
    <div class="logos-slide">
        <img src="../../../assets/logos/absolut-vodka.png" alt="">
        <img src="../../../assets/logos/smirnoff.png" alt="">
        <img src="../../../assets/logos/martini.png" alt="">
        <img src="../../../assets/logos/redbull.png" alt="">
    </div>
    <div class="logos-slide">
        <img src="../../../assets/logos/absolut-vodka.png" alt="">
        <img src="../../../assets/logos/smirnoff.png" alt="">
        <img src="../../../assets/logos/martini.png" alt="">
        <img src="../../../assets/logos/redbull.png" alt="">
    </div>
    <div class="logos-slide">
        <img src="../../../assets/logos/absolut-vodka.png" alt="">
        <img src="../../../assets/logos/smirnoff.png" alt="">
        <img src="../../../assets/logos/martini.png" alt="">
        <img src="../../../assets/logos/redbull.png" alt="">
    </div>
</div>
 </section>
