@keyframes slide{
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);

    }
}

.logos{
    overflow: hidden;
    padding: 60px 0;
}

.logos-slide{
    white-space: nowrap;
    animation: 5s slide infinite linear;
}

.logos-slide img{
    height: 50px;
    margin: 0 40px;
}