 <section class="partner-slide">
        <h3 class="our-partners">Our partners</h3>
<div class="logos">
    <div class="logos-slide">
        <img src="../../../assets/logos/absolut-vodka.png" alt="">
        <img src="../../../assets/logos/bacardi.png" alt="">
        <img src="../../../assets/logos/baileys.jpeg" alt="">
        <img src="../../../assets/logos/bombay.png" alt="">
        <img src="../../../assets/logos/coca-cola.png" alt="">
        <img src="../../../assets/logos/corona.png" alt="">
        <img src="../../../assets/logos/gingerale.png" alt="">
        <img src="../../../assets/logos/grey-goose.png" alt="">
        <img src="../../../assets/logos/heineken.png" alt="">
        <img src="../../../assets/logos/hennessy.png" alt="">
        <img src="../../../assets/logos/jack-daniels.png" alt="">
        <img src="../../../assets/logos/Jagermeister-Logo.png" alt="">
        <img src="../../../assets/logos/martini.png" alt="">
        <img src="../../../assets/logos/patron.png" alt="">
        <img src="../../../assets/logos/redbull.png" alt="">
        <img src="../../../assets/logos/schweppes.png" alt="">
        <img src="../../../assets/logos/smirnoff.png" alt="">
    </div>
    <div class="logos-slide">
        <img src="../../../assets/logos/absolut-vodka.png" alt="">
        <img src="../../../assets/logos/bacardi.png" alt="">
        <img src="../../../assets/logos/baileys.jpeg" alt="">
        <img src="../../../assets/logos/bombay.png" alt="">
        <img src="../../../assets/logos/coca-cola.png" alt="">
        <img src="../../../assets/logos/corona.png" alt="">
        <img src="../../../assets/logos/gingerale.png" alt="">
        <img src="../../../assets/logos/grey-goose.png" alt="">
        <img src="../../../assets/logos/heineken.png" alt="">
        <img src="../../../assets/logos/hennessy.png" alt="">
        <img src="../../../assets/logos/jack-daniels.png" alt="">
        <img src="../../../assets/logos/Jagermeister-Logo.png" alt="">
        <img src="../../../assets/logos/martini.png" alt="">
        <img src="../../../assets/logos/patron.png" alt="">
        <img src="../../../assets/logos/redbull.png" alt="">
        <img src="../../../assets/logos/schweppes.png" alt="">
        <img src="../../../assets/logos/smirnoff.png" alt="">
    </div>
</div>
 </section>
