<div class="login-section">
    <div class="login-banner">
        <img class="laptop" src="../../../assets/svg/login-banner.svg" alt="" preload="auto">
        <img class="responsive" src="../../../assets/svg/login-banner-responsive.svg" alt="" preload="auto">
        <img class="ipad" src="../../../assets/svg/login-banner-ipad.svg" alt="" preload="auto">

        <div class="login-form">
        <h3>Your Key to the Wild</h3>
  
        <label for="email">Email</label>
        <input type="email" formControlName="email" id="email" name="email" [(ngModel)]="email" aria-required="true">
  
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" aria-required="true">
  
        <div class="button-container">
          <button type="button" (click)="login()">Login</button>
          <a class="register-link" routerLink="/register">No account?</a>
        </div>
      </div>
    </div>
  </div>
  