<div class="modal-overlay">
    <div class="modal-content">
        <a (click)="closeModal()">
            <img src="../../../assets/svg/x-icon.svg" alt="">
        </a>
        <div class="impressum-container">
            <div class="left-section">
                <h2>JungleBar Impressum</h2>
            </div>
            <div class="right-section">
                <h3>Anschrift und Rechtliches</h3> <br>
                <ul>
                    <li>Name: Jungle Bar</li>
                    <li>Adresse: Ausstellungsstrasse 70, 8000 Z&#252;rich, Schweiz</li>
                    <li>E-Mail: kontakt&#64;junglebar.ch</li>
                    <li>Telefon: +41 44 446 96 00</li>
                    <li>Verantwortlich f&#252;r den Inhalt: Das Team der Jungle Bar (bestehend aus 5 Personen)</li>
                    <li>Hosting-Provider: GitHub</li>
                    <li>Webdesign und Entwicklung: WebTree</li>
                    <li>Bildnachweise: Freepik</li>
                    <li>Social Media: [Links zu Ihren Social-Media-Profilen, wenn vorhanden]</li>
                </ul>
            </div>            
        </div>
    </div>
</div>
