<div class="modal-overlay">
    <div class="modal-content">
        <a (click)="closeModal()">
            <img src="../../../assets/svg/x-icon.svg" alt="">
        </a>
        <div class="impressum-container">
            <div class="left-section">
                <h2>JungleBar Impressum</h2>
            </div>
            <div class="right-section">
                <h3>Anschrift und Rechtliches</h3> <br>
                <ul>
                    <li><h4>Name:</h4> Jungle Bar</li>
                    <li><h4>Adresse:</h4> Ausstellungsstrasse 70, 8000 Z&#252;rich, Schweiz</li>
                    <li><h4>E-Mail:</h4> kontakt&#64;junglebar.ch</li>
                    <li><h4>Telefon:</h4> +41 44 446 96 00</li>
                    <li><h4>Verantwortlich f&#252;r den Inhalt:</h4> Das Team der Jungle Bar (bestehend aus 5 Personen)</li>
                    <li><h4>Hosting-Provider:</h4> GitHub</li>
                    <li><h4>Webdesign und Entwicklung:</h4> WebTree</li>
                    <li><h4>Bildnachweise:</h4> Freepik</li>
                </ul>
            </div>            
        </div>
    </div>
</div>
