<div class="modal-overlay">
    <div class="modal-content">
        <a (click)="closeModal()">
            <img src="../../../assets/svg/x-icon.svg" alt="">
        </a>
        <div class="impressum-container">
            <div class="left-section">
                <h2>JungleBar imprint</h2>
            </div>
            <div class="right-section">
                <h3>Contact Information and Legal Details</h3> <br>
                <ul>
                    <li><h4>Name:</h4> JungleBar</li>
                    <li><h4>Address:</h4> Ausstellungsstrasse 70, 8000 Zurich, Switzerland</li>
                    <li><h4>Email:</h4> info&#64;webtree.ch</li>
                    <li><h4>Responsible for Content:</h4> The Jungle Bar Team (comprising 5 individuals)</li>
                    <li><h4>Hosting Provider:</h4> GitHub, Vercel</li>
                    <li><h4>Web Design and Development:</h4> WebTree</li>
                    <li><h4>Image Credits:</h4> Freepik, Lordicon</li>
                    <li><h4>API:</h4> TheCocktailApi</li>
                </ul>
            </div>            
        </div>
    </div>
</div>
