<div class="login-section">
    <div class="login-banner">
        <img src="../../../assets/svg/register-banner.svg" alt="">
        
        <div class="login-form">
            <h3>Create a key to the Wild</h3>
            
            <label for="username">User Name</label>
            <input type="text" id="lastname" name="lastname" required>
            
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
            
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            
            <div class="button-container">
                <button type="submit">Create</button>
                <a class="register-link" routerLink="/login">Already have an account?</a>
            </div>
        </div>
        
    </div>
</div>
