<div class="login-section">
    <div class="login-banner">
        <img class="laptop" src="../../../assets/svg/register-banner.svg" alt="">
        <img class="responsive" src="../../../assets/svg/register-banner-responsive.svg" alt="">
        <img class="ipad" src="../../../assets/svg/register-banner-ipad.svg" alt="">
        
        <div class="login-form">
            <h3>Create a key to the Wild</h3>
            
            <label for="username">User Name</label>
            <input type="text" id="lastname" name="lastname" required [(ngModel)]="signupObj.userName">
            
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required [(ngModel)]="signupObj.email">
            
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required [(ngModel)]="signupObj.password">
            
            <div class="button-container">
                <button (click)="onSignUp()" type="submit">Create</button>
                <a class="register-link" routerLink="/login">Account already?</a>
            </div>
        </div>
        
    </div>
</div>
