<section class="about-us" id="about-us-section">
    <div class="img-about-us">
        <img src="../../../assets/img/jungle-table.png" alt="">
    </div>
    <div class="text-about-us">
        <h3><span class="highlight">Get</span> to know us!</h3>
        <p>
            Welcome to the JungleBar, where the vibes feel young and fresh! Here, we blend delicious drinks with a relaxed atmosphere. 
            Our crew is as diverse as our cocktails - full of energy, adventure, and positive vibes. 
            Explore the jungle of flavor experiences with us and let the cool music sweep you away.
        </p>
        
        <div class="highlighted-features">
            <div class="feature">
                <img src="../../../assets/gif/drink.gif" alt="">
            </div>
            <div class="feature">
                <img src="../../../assets/gif/disco.gif" alt="">
            </div>
            <div class="feature">
                <img src="../../../assets/gif/party.gif" alt="">
            </div>
        </div>
    </div>
</section>

<app-divider></app-divider>
