<section class="about-us">
    <div class="img-about-us">
        <img src="../../../assets/img/about-us.jpg" alt="">
    </div>
    <div class="text-about-us">
        <h3><span class="highlight">Get</span> to know us!</h3>
        <p>Willkommen in der JungleBar, wo sich die Vibes jung und frisch anfühlen! Hier vereinen wir leckere Drinks mit einer entspannten Atmosphäre. Unsere Crew ist genauso bunt wie unsere Cocktails – voller Energie, Abenteuerlust und positiver Vibes. Entdecke mit uns den Dschungel der Geschmackserlebnisse und lass dich von der coolen Musik mitreißen.</p>
        
        <div class="highlighted-features">
            <div class="feature">
                <img src="../../../assets/svg/glass-about-us.svg" alt="">
            </div>
            <div class="feature">
                <img src="../../../assets/svg/music-about-us.svg" alt="">
            </div>
            <div class="feature">
                <img src="../../../assets/svg/party-about-us.svg" alt="">
            </div>
        </div>
    </div>
</section>
