.form-section {
  color: var(--black);
}

.form-container {
  max-width: 90%;
  margin: 0 auto;
}

.contact-form {
  background-color: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
}

.form-title {
  color: var(--black);
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: var(--black);
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--black);
  border-radius: 4px;
}

.form-group textarea {
  height: 100px;
  resize: vertical;
}
.submit-button {
  background-color: var(--yellow);
  color: var(--black);
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
      transform: scale(1.05);
      cursor: pointer;
      transition: 0.3s;
  }
}

