<div class="modal-overlay">
  <div class="modal-content">
    <a (click)="closeModal()">
      <img src="../../../assets/svg/x-icon.svg" alt="">
    </a>
    <h2>Favorite Drinks</h2>
    <div class="favorite-drinks-container">
      <div *ngFor="let drink of favoriteDrinks" class="favorite-drink">
        <img [src]="drink.isFavorited ? '../../../assets/icons/star-icon-filled.svg' : '../../../assets/icons/star-icon.svg'" alt="" class="favorite-icon" (click)="toggleFavorite(drink)">
        <img [src]="drink.imageUrl" alt="{{ drink.name }} Image" class="drink-img">
        <h3>{{ drink.name }}</h3>
        <ul id="ingredient">
          <li *ngFor="let ingredient of drink.ingredients">{{ ingredient }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
