<div class="profile-container">
    <div class="navbar-phone">
        <app-navbar-phone></app-navbar-phone>
    </div>
    <div class="profile-box profile-data">Box 1</div>
    <div class="profile-box favorite-drinks">Box 2</div>
    <div class="profile-box navbar-profile">
        <app-navbar></app-navbar>
    </div>
    <div class="remember-quote">
        <h3>REMEMBER</h3>
        <div class="text-quote"><p>Sharing your password is like sharing your toothbrush it's a hygiene issue for your online security!</p></div>
    </div>
</div>