.drinks {
    height: fit-content;
    background-image: url(../../../assets/svg/tropical-bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--green);
}

.navbar-phone {
    display: none;
}

.navbar {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    right: 0;
}


.title h2 {
    color: var(--yellow);
    text-decoration: underline 6px;
    margin-top: 10vh;
    margin-bottom: 30px;
}

.drink-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
    width: fit-content;
    max-width: 1300px;
}

.drink-card {
    border-radius: 8px;
    margin: 15px;
    padding: 15px;
    max-width: 290px;
    min-width: 290px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.322);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);  
    padding: 38px;  
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    color: var(--white);
}

.drink-img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 8px;
}

.drink-card h3 {
    margin: 15px auto 15px;
}

.favorite-icon {
    width: 24px;
    position: absolute;
    top : 8px;
    left: 8px;
    font-size: 34px;
      cursor: url(../../../assets/svg/cursor-pointer.svg), auto !important;
}

@media (max-width: 900px) {
    .navbar-phone {
        display: block;
    }

    .navbar {
        display: none;
    }
}