<section class="drinks">
    <div class="navbar-phone">
        <app-navbar-phone></app-navbar-phone>
    </div>
    <div class="title">
        <h2>OUR ELIXIR</h2>
    </div>
    <div class="drink-container">        
        <div *ngFor="let drink of drinks" class="drink-card">
            <h5 class="favorite-icon">&#9825;</h5>
            <img [src]="drink.imageUrl" alt="{{ drink.name }} Image">
            <h3 id="name-drink">{{ drink.name }}</h3>
            <p id="ingredient">{{ drink.ingredients.join(', ') }}</p>
          </div>                               
    </div>
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>
</section>