<section class="drinks">
    <div class="navbar-phone">
        <app-navbar-phone></app-navbar-phone>
    </div>
    <div class="title">
        <h2>OUR ELIXIR</h2>
    </div>
    <div class="drink-container">        
        <div class="drink-card">
            <h5 class="favorite-icon">&#9825;</h5>
            <img src="../../../assets/img/jungle-table.png" alt="Drink 1">
            <h3>Drink 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget...</p>
        </div>
        
        <div class="drink-card">
            <h5 class="favorite-icon">&#9825;</h5>
            <img src="../../../assets/img/jungle-table.png" alt="Drink 2">
            <h3>Drink 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget...</p>
        </div>
    </div>
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>
</section>