<nav>
  <ul>
      <li data-aos="fade-right" data-aos-offset="200" data-aos-duration="1000"><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a></li>
      <li data-aos="fade-right" data-aos-offset="200" data-aos-duration="1000" data-aos-delay="100" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/drinks">DRINKS</a></li>
      <li data-aos="fade-right" data-aos-offset="200" data-aos-duration="1000" data-aos-delay="200" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/book">BOOK</a></li>
      <li data-aos="fade-right" data-aos-offset="200" data-aos-duration="1000" data-aos-delay="300" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/profile">PROFILE</a></li>
      <li data-aos="fade-right" data-aos-offset="200" data-aos-duration="1000" data-aos-delay="400" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/login">LOGIN</a></li>
  </ul>
</nav>
