<footer>
    <section id="side1">
      <h3>Rechtliches</h3>
      <ol>
        <li>Datenschutz</li>
        <li>Impressum</li>
      </ol>
    </section>
    <section id="side2">
      <h3>Social Media</h3>
      <ol>
        <li>Instagram</li>
        <li>Linkedin</li>
        <li>Agency</li>
      </ol>
    </section>
    <!-- <section id="side3">
      <h3>Side 3</h3>
      <ol>
        <li>Cowgirl in the Sand</li>
        <li>I Believe in You</li>
        <li>After the Gold Rush</li>
        <li>Southern Man</li>
        <li>Helpless</li>
      </ol>
    </section> -->
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2701.448536962181!2d8.532615976190689!3d47.38368070334482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47900a0dbefe6253%3A0x588e0183e4f1d537!2sTechnische%20Berufsschule%20Z%C3%BCrich%20TBZ!5e0!3m2!1sde!2sch!4v1705760238919!5m2!1sde!2sch" width="350" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

  </footer>
  