
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: var(--black);
  padding: 50px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 24px;
	color: var(--white);
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--yellow);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	text-transform: capitalize;
	color: var(--white);
	text-decoration: none;
	font-weight: 300;
	color: var(--grey);
	display: block;
	transition: all 0.3s ease;

}
.footer-col ul li a:hover{
	color: var(--white);
	padding-left: 8px;
  cursor: url(../../../assets/svg/cursor-pointer.svg), auto !important;

}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.5s ease;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.footer-col .social-links .noah {
  background-image: url('../../../assets/img/team/Noah.png');
}

.footer-col .social-links .jann {
  background-image: url('../../../assets/img/team/Jann.png');
}

.footer-col .social-links .silvan {
  background-image: url('../../../assets/img/team/Silvan.png');
}

.footer-col .social-links .elias {
  background-image: url('../../../assets/img/team/Elias.png');
}

.footer-col .social-links .valentin {
  background-image: url('../../../assets/img/team/Valentin.png');
}
.footer-col .social-links a:hover{
  transform: scale(1.05);
  cursor: url(../../../assets/svg/cursor-pointer.svg), auto !important;
}
.company-ad {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  text-decoration: none;
  color: var(--grey);
  transition: 0.3s;

  &:hover {
    color: var(--white);
    transform: scale(1.05);
    transition: 0.3s;
  }
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




