<footer>
    <section id="side1">
      <h3>Side 1</h3>
      <ol>
        <li>Down to the Wire</li>
        <li>Burned</li>
        <li>Mr. Soul</li>
        <li>Broken Arrow</li>
        <li>Expecting to Fly</li>
        <li>Sugar Mountain</li>
      </ol>
    </section>
    <section id="side2">
      <h3>Side 2</h3>
      <ol>
        <li>I Am a Child</li>
        <li>The Loner</li>
        <li>The Old Laughing Lady</li>
        <li>Cinnamon Girl</li>
        <li>Down by the River</li>
      </ol>
    </section>
    <section id="side3">
      <h3>Side 3</h3>
      <ol>
        <li>Cowgirl in the Sand</li>
        <li>I Believe in You</li>
        <li>After the Gold Rush</li>
        <li>Southern Man</li>
        <li>Helpless</li>
      </ol>
    </section>
    <section id="side4">
      <h3>Side 4</h3>
      <ol>
        <li>Ohio</li>
        <li>Soldier</li>
        <li>Old Man</li>
        <li>A Man Needs a Maid</li>
        <li>Harvest</li>
        <li>Heart of Gold</li>
        <li>Star of Bethlehem</li>
      </ol>
    </section>
    <section id="side5">
      <h3>Side 5</h3>
      <ol>
        <li>The Needle and the Damage Done</li>
        <li>Tonight’s the Night (Part&nbsp;1)</li>
        <li>Tired Eyes</li>
        <li>Walk On</li>
        <li>For the Turnstiles</li>
        <li>Winterlong</li>
        <li>Deep Forbidden Lake</li>
      </ol>
    </section>
    <section id="side6">
      <h3>Side 6</h3>
      <ol>
        <li>Like a Hurricane</li>
        <li>Love Is a Rose</li>
        <li>Cortez the Killer</li>
        <li>Campaigner</li>
        <li>Long May You Run</li>
      </ol>
    </section>
  </footer>
  