/* Global styles */
html {
  height: 100%;
}

html,
footer::before {
  background: var(--green);
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: Georgia;
  line-height: 1.5;
}

main {
  padding: 0 1em 2em;
}

li {
  font-size: 25px;
} 

img {
  height: 22px;
}

#small{
  font-size: 17px;
}

/* Footer styles */
footer {
  margin-top: auto;
  padding: 2em 1em 0;
  display: flex;
  flex-flow: column nowrap; /* Unter mobile */
  justify-content: space-between;
  align-items: center; /* Zentrieren Sie den Inhalt vertikal */
  background: var(--black);
  color: var(--yellow);
  ol{
    list-style: none;
  }
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: calc(2em + 5vw);
  height: calc(2em + 5vw);
  border-radius: 0 0 calc(.2em + .5vw) 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

footer section {
  width: 100%;
  padding: 0.75em;
  text-align: center; /* Zentrieren Sie den Text horizontal */
}

/* Media Query für Desktop-Geräte */
@media (min-width: 768px) {
  body {
      flex-flow: row nowrap;
  }

  main {
      width: 70%; /* Anpassen der Breite des Texts auf Desktop */
  }

  footer {
      flex-flow: row nowrap; /* Nebeneinander auf Desktop */
      padding-top: 0;
  }

  footer::after,
  footer section {
      width: 40%;
      text-align: left; /* Linksbündig auf Desktop */
  }

  footer section:first-child,
  footer::after {
      order: -1;

  }
}

/* Media Query für mobile Geräte */
@media (max-width: 767px) {
  iframe {
      width: 100%; /* Vollbreite auf mobilen Geräten */
  }
}
